// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 30em =================================================== */

// GRID 				=====================================
// ROOT 				=====================================
// TYPOGRAPHY 			=====================================
// ELEMENTS 			=====================================
// GENERAL 				=====================================

.header {

}

.panel {

	.story {
		max-width: 80%;
	}
}


// SECTIONS 			=====================================

#garth {
	height: 662px;

	.story {
		padding-top: 100px;
	}

	.copy {
		@include span-columns(4,7);
		line-height : $baselineheight; 

		p, .arrow-left {
			@include font-size(24);
		}
	}
}