// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 30em =================================================== */

// GENERAL 				=====================================

.header {

}

.panel {

	.story {
		max-width: 80%;
	}
}


// SECTIONS 			=====================================

#garth {
	background-position-x: 60% !important;
	height: 524px;

	.story {
		padding-top: 60px;
	}

	.copy {
		@include span-columns(5,7);
		line-height : $baselineheight; 

		h1 {
			@include font-size(40);
			line-height: 1.2;
		}

		p, .arrow-left {
			@include font-size(20);
		}
	}
}

#contact {
	padding-bottom: 100px;
}