// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 38em =================================================== */

// GRID 				=====================================

// Susy Grid Variables
$total-columns  : 12;

// GENERAL 				=====================================

.header {
	height: 72px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;

	#nav-toggle {
		display: none !important;
	}

	.nav {
		clear: none;
		display: block !important;
		float: left;
		height: auto !important;
		padding: 0;
		position: static !important;
		margin-top: 28px !important;
		width: auto;

		ul {
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) !important;
			opacity: 1 !important;
			margin: 0;

			li {
				float: left;

				&:before {
					content: "/";
					@include font-size(20);
				}

				&.what, &.garth {
					a {
						margin-left: 0;
					}
					&:before {
						content: "";
					}
				}

				a {
					color: $garthgray;
					display: inline-block;
					line-height: 1;
					margin: 0 12px;
					text-transform: uppercase;

					&:hover {
						text-decoration: none;
						color: lighten($garthgray, 25%);
					}
				}

				&.what a:hover { border-bottom: 1px dotted #42ba90; }
				&.who a:hover { border-bottom: 1px dotted #1e4393; }
				&.work a:hover { border-bottom: 1px dotted #f26621; }
				&.contact a:hover { border-bottom: 1px dotted #323232; }

				&.current {
					a {
						color: darken($garthgray, 25%);
					}
				}
			}
		}
	}

	.right {
		float: right;
		margin-top: 16px;

		p {
			span {
				padding: 6px 14px 5px;
			}
		}
	}
}

.panel {

	.story {
		padding-bottom: 100px;
		padding-top: 100px;
		width: 80%;
		max-width: 1140px;
	}
}


// SECTIONS 			=====================================

#garth {
	background: url(../img/garth.jpg) 50% 0 no-repeat fixed;
	background-size: inherit;
	background-position-x: 63% !important;
	height: 722px;

	.story {
		padding-top: 142px;
	}

	.copy {
		@include span-columns(8,12);

		h1 {
			margin-bottom: .4em;
		}

		p {
			padding-right: 20%;

			&.lead {
				display: block;
			}
		}
	}
}

#what {

	.story {
	}

	.graphic {
		img {
			margin-left: -16%;
		}
	}

	hr { margin: 40px 0; }

	.copy {

		.lead {
			@include font-size(38);
		}

		&.left {
			@include span-columns(6,12);
		}

		&.right {
			@include span-columns(6 omega,12);
		}
	}
}

#who {

	.copy {
		@include span-columns(6,12);
		@include push(6);

		.lead {

		}
	}
	.graphic {
		@include span-columns(4,12);
		@include pull(11);
	}
}

#work {

	hr.dotted {
		display: block;
	}

	h3 {
		@include font-size(36);
	}

	ul {
		@include span-columns(5,12);
		padding-right: $gutter-width * 2;
		
		&.left {
			@include pre(1);
		}

		&.right {
			@include span-columns(5 omega,12);
			@include post(1);
		}

		li {
			&:first-child {
				border: none;
			}
		}
	}
}

#together {

	blockquote {
		max-width: 80%;

		br {
			display: block;
		}
	}

	ul {
		@include span-columns(6,12);

		&.right {
			@include span-columns(6 omega,12);
		}
	}

	.outro {
		max-width: 60%;
	}
}

#contact {
	padding-bottom: 140px;

	.copy {
		@include span-columns(5,12);
		@include post(1);
	}

	.form-wrap {
		@include span-columns(6 omega,12);
	}

	.footer {
		max-width: 1140px;

		.col {
			//@include span-columns(4,12);
			margin-bottom: 0;

			p {
				margin-bottom: .2em;
			}

			&:last-child {
				//@include span-columns(4 omega,12);
			}
		}
	}
}