// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 48em =================================================== */

// GRID 				=====================================

// Susy Grid Variables
$total-columns  : 12;

// ROOT 				=====================================

#main {
    @include span-columns(9 omega,12); // Susy
    @include box-sizing(border-box);

    padding: $gutter-width;
}
#sidebar {
    @include span-columns(3,12); // Susy
    @include box-sizing(border-box);
    
    padding: $gutter-width;
}

// TYPOGRAPHY 			=====================================
// ELEMENTS 			=====================================
// LAYOUT 				=====================================