// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Base =================================================== */

// GRID		 			=====================================

// Susy Grid Variables
$total-columns  : 7;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$container-style: fluid;

// ROOT 				=====================================

@-webkit-viewport { 
	width : device-width; 
}
@-moz-viewport { 
	width : device-width; 
}
@-ms-viewport { 
	width : device-width; 
}
@-o-viewport { 
	width : device-width; 
}
@viewport { 
	width : device-width; 
}

html {
	background : $bodycolor;
	font-size : 62.5%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : lighten($basecolor, 75%);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%;
}

body {
	@include font-size();

	background-color : transparent;
	font-family : $basefont;
	line-height : $baselineheight;
	color : $textcolor;
	margin : 0;
	padding : 0;
	width : 100%;
}


// TYPOGRAPHY ====================================================

#{headings()} {
	margin : 0;
	font-family : $baseheadingfont;
	font-weight : $baseheadingfontweight;
	color : $baseheadingfontcolor;
	text-rendering : optimizelegibility; 
}

h1 small,
h2 small {
	font-weight : normal;
	color : $lightgray; 
}

h1,
.h1 {
	margin-bottom : $baselineheight / 2;
	@include font-size(32);
	line-height : 1.2; 
}

h2,
.h2 {
	margin-bottom : $baselineheight / 2;
	@include font-size(24);
	line-height : 1.2; 
}

h3,
.h3 {
	margin-bottom : $baselineheight / 3;
	@include font-size(48);
	line-height : 1; 
}

h4,
.h4 {
	margin-bottom : $baselineheight;
	@include font-size(18);
	line-height : 1.25; 
}

h5,
.h5 {
	@include font-size(16);
	margin-bottom : $baselineheight; 
}

h6,
.h6 {
	margin-bottom : $baselineheight;
	@include font-size(14);
	font-weight : normal;
	letter-spacing : 1px;
	text-transform : uppercase; 
}

p.lead {
	@include font-size(24);
	line-height : $baselineheight; 
}

p,
ol,
ul,
dl,
address {
	margin-bottom : $baselineheight;
	@include font-size(16);
	line-height : $baselineheight; 
}

p {
	line-height: 2em;
}

small {
	@include font-size(14); 
}

ul,
ol {
	margin : 0 0 $baselineheight 0;
	padding : 0;

	li {
		list-style: none;
	}
}

li ul,
li ol {
	@include font-size(16); 
}

// blockquote

blockquote  {
	margin : 0 0 $baselineheight 0;
	padding-left : $gutter-width;
	font-style : normal; 
	text-align: center;
}

q {
	quotes : none; 
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content : '';
	content : none; 
}

cite {
	font-style : normal; 
}

// definition lists

dl,
dd {
	margin-bottom : $baselineheight;  
}

dt {
	font-weight : bold; 
}

.dl-horizontal {

dt {
	float : left;
	clear : left;
	width : 20.25%;
	text-align : right; 
}

dd {
	margin-left : 22.78%; }
}

// text-level

abbr[title] {
	border-bottom : 1px dotted $bordercolor;
	cursor : help; 
}

b, strong {
	font-weight : bold; 
}

dfn {
	font-style : italic; 
}

ins {
	background-color : lighten($basecolor, 75%);
	color : $textcolor;
	text-decoration : none; 
}

mark {
	background-color : lighten($basecolor, 75%);
	color : $textcolor;
	font-style : italic;
	font-weight : bold; 
}

pre,
code,
kbd,
samp {
	font-family : $codefont;
	@include font-size(14);
	line-height : $baselineheight; 
}

pre {
	white-space : pre;
	white-space : pre-wrap;
	word-wrap : break-word; 
}

sub,
sup {
	position : relative;
	@include font-size(12);
	line-height : 0;
	vertical-align : baselineheight; 
}

sup {
	top : -0.5em; 
}

sub {
	bottom : -0.25em; 
}


// GENERAL	 			=====================================

.header {
	background: $white;
	color: $garthgray;
	font-family: $altfont;
	height: 60px;
	position: fixed;
	overflow: visible;
	text-align: left;
	text-transform: uppercase;
	z-index: 98;
	width: 100%;

	.inner {
		@include container;
		margin: 0 auto;
		width: 100%;
		max-width: 1140px;
	}

	h1 {
		@include font-size(50);
		font-weight: normal;
		line-height: .9;
		margin-bottom: 8px;

		span {
			@include font-size(22);
			display: block;
		}
		a {
			color: $basecolor;

			&:hover {
				color: lighten($garthgray, 10%);
				text-decoration: none;
			}
		}
	}
	p {
		@include font-size(16);
		margin: 0;
	}

	#nav-toggle {
		cursor: pointer;
		font-size: 2em;
		float: left;
		margin: 14px 0 0 12px;
		display: block;
	}

	.nav {
		display: none;
		position: absolute;
		width: 100%;
		top: 60px;
		left: 0;
		background: white;
		padding: 5px 0 14px 16px;
		overflow: visible !important;
		z-index: 99;

		ul {
			margin: 0;
			@include opacity(0);
			@include transition-property(opacity);
			@include transition-duration(.25s);
			@include transition-timing-function(ease-in);

			&.show {
				@include opacity(1);
			}

			li {

				a {
					color: $garthgray;
					@include font-size(20);
					line-height: 1;
					margin: 0 12px 10px;
					display: block;
					text-transform: uppercase;
				}

				&.current {
					&.what a { color: #42ba90; }
					&.who a { color: #1e4393; }
					&.work a { color: #f26621; }
					&.contact a { color: #323232; }
				}

				a:hover {
					border-bottom: none;
				}

				&.what a:hover { color: #42ba90; }
				&.who a:hover { color: #1e4393; }
				&.work a:hover { color: #f26621; }
				&.contact a:hover { color: #323232; }

				&.garth {
					display: none !important;
				}
			}
		}
	}

	.right {
		float: right;
		margin-top: 12px;

		p {
			color: $garthgray;
			@include font-size(20);
			line-height: 1;

			a {
				color: $garthgray !important;
			}

			span {
				display: inline-block;
				padding: 3px 12px 3px 14px;
				border-left: 1px solid $garthgray;
				margin-left: 10px;
				font-size: 2.75rem;

				a {
					color: $garthgray;

					&:hover {
						border-bottom: 1px dotted $garthgray;
					}
				}

				i {
					vertical-align: middle;
				}
			}
		}
	}

	.social {
		position: absolute;
		top: 10px;
		right: 2%;
		margin: 16px 0 0 0;

		li { margin-bottom: 4px; }

		a {
			i {
				color: $garthgray;
				margin-bottom: 10px;
			
				&:hover {
					color: lighten($garthgray, 10%);
					text-decoration: none;
				}
			}
		}

		.tw {
			@include font-size(15);
		}
		.fb {
			@include font-size(17);
		}
		.li {
			@include font-size(17);
		}
	}
}

.panel {
	position: relative;
	width: 100%;
	//z-index: 1;

	.label {
		border-right: 1px solid $white;
		border-bottom: 1px solid $white;
		height: 34px;
		padding: 0 8px;
		position: absolute;
		top: 0;
		left: 0;

		h2 {
			@include font-size(22);
			color: $white;
			font-family: $altfont;
			font-weight: normal;
			line-height: 1.7;
			text-transform: uppercase;
		}
	}

	.story {
		@include container;

		padding-bottom: 60px;
		padding-top: 60px;
		max-width: 90%;
	}
}


// SECTIONS 			=====================================

#garth {
	background: url(../img/garth.jpg) 63% 0 no-repeat fixed;
	height: 410px;
	background-size: 225%;
	background-position-x: 63% !important;

	.story {
		padding-top: 100px;
	}

	.copy {
		@include span-columns(5,7);
		line-height : $baselineheight; 

		h1 {
			@include font-size(48);
			line-height: 1;
			margin-bottom: .32em;
		}

		p {
			@include font-size(15);
			line-height: 1.33;

			&.lead {
				display: none;
			}			
		}

		.arrow-left {
			@include font-size(17);
			line-height: 1;

			&:before {
				float: left;
				@include cssTriangle(12px,$white,left);
			}
		}
	}
}


#what {
	background: #42ba90;
	@include background-image(linear-gradient(#349472, #3CA07C 20px, #5abb8c 60px, #5abb8c));

	.label {
		top: -20px;
	}

	.story {
		margin: 0 auto;
	}

	.graphic {
		margin: 0 auto;
		text-align: center;
	}

	hr { margin: 20px 0; }

	.copy {

		p {
			@include font-size(16);
		}

		&.left {

		}

		&.right {

		}
	}
}


#who {
	background: #1e4393;
	@include background-image(linear-gradient(#163274, #1A3C81 20px, #1E4591 60px, #1E4591));

	.graphic {
		text-align: center;
		margin-bottom: 20px;
	}

	p {
		@include font-size(16);

		&.lead {
			@include font-size(31);
			font-weight: bold;
			margin-bottom: 1em;
		}
	}
}


#work {
	background: #f26621;
	@include background-image(linear-gradient(#C54E25, #D85729 20px, #f26621 60px, #f26621));

	h3 {
		text-align: center;
		@include font-size(32);
	}

	hr.dotted {
		display: none;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			border-top: 2px dotted $white;
			padding: 16px 0;

			p {
				@include font-size(16);
				line-height: 1.33em;
				margin-bottom: 0;

				&.title {
					position: relative;
					margin-bottom: .8em;

					&:before {
						@include cssTriangle(6px, $white, left);
						position: absolute;
						left: -12px;
						top: 5px;
					}
				}
			}
		}
	}
}


#together {
	background: #f26621;

	blockquote {
		max-width: 90%;
		margin: 0 auto 2em;

		br {
			display: none;
		}

		span {
			@include font-size(29);
			display: inline-block;
			line-height: $baselineheight;
			margin-bottom: 20px;
			margin-bottom: 1em;

			&.lead {
				@include font-size(60);
				margin-bottom: .2em;
			}
		}
	}

	ul {
		padding: 0 2%;
		margin-bottom: 3em;

		li {
			border-bottom: 2px dotted $white;
			@include font-size(19);
			padding: 16px 0;

			&:first-child {
				border-top: 2px dotted $white;
			}
		}
	}

	p.outro {
		clear: both;
		@include font-size(29);
		line-height: $baselineheight;
		margin: 0 auto $baselineheight;
		max-width: 80%;
		text-align: center;
	}
}


#contact {
	background: #323232;
	@include background-image(linear-gradient(#272727, #2A2B2A 20px, #323232 60px, #323232));

	.copy {
		h3	{
			@include font-size(40);
			margin-bottom: .6em;
		}
		p {
			@include font-size(20);
			line-height: $baselineheight;
		}
	}

	.form-wrap {

		// Formidable Forms 

		.with_frm_style {

			.frm_required {
				color: #f26621;
				font-weight: bold;
			}

			.frm_form_fields input, 
			#wpcontent .frm_form_fields select, 
			.frm_form_fields select, 
			.frm_form_fields textarea {
				@include at2x("field_bg", 8px, 8px);
				background-attachment: fixed;
				@include font-size(16);
				border: none !important;
				color: darken(#313131, 6%);
				padding: 8px;
				width: 100% !important;

				&:active, &:focus, &.value {
					background: darken(#313131, 6%);
					color: $white;
				}
			}

			.frm_top_container label.frm_primary_label {
				@include font-size(16);
			}

			p.submit {
				padding: 0;
				float: right;

				input {
					background: $white;
					border: none;
					color: #313131;
					@include font-size(19);
					height: 32px;
					padding: 0 8px;
					font-family: $altfont;
					text-transform: uppercase;
				}
			}
		}
	}

	.footer {
		@include container;
		padding: 1em 0 3em 0;
		border-top: 1px solid #fffef4;
		clear: both;
		margin: 0 auto;
		width: 90%;

		.col {
			color: #fffef4;
			margin-bottom: 20px;

			p {
				font-size: 1.3rem;
				margin-bottom: .2em;
			}
		}

		.social {
			float: left;
			margin-bottom: 2px;
			margin-right: 14px;

			li {
				float: left;
				margin-right: 6px;
			}
		}
	}
}


// Modernizr Specific 

.touch {

	// do not allow parrallax on iOS, Android and touch devices

	#garth {
		background-position: 60% 25% !important;
		background-attachment: scroll !important;
	}

}